# Build results
bin/
bin-int/

# Visual Studio cache/options directory
.vs/

# Visual Studio solution and project files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Include dependencies
!Dependencies/**

# Include ThirdParty binaries
!ThirdParty/**
